<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav" id="nav">
    <ul>
        <li>
            <a href="/">
                <i class="bi bi-house"></i>
            </a>
        </li>
        <li>
            <a href="/board/save">글작성</a>
        </li>
        <li>
            <a href="/board/">글목록</a>
        </li>
        <li class="login-name" id="login-area">
        </li>
    </ul>
    <script th:inline="javascript">
        const loginArea = document.getElementById("login-area");
        const loginEmail = [[${session.loginEmail}]];
        console.log(loginEmail.length);

        if (loginEmail.length != 0) {
            loginArea.innerHTML = "<a href='/mypage' style='color: black;'>" + loginEmail + "님 환영해요!</a>" +
                "<a href='/logout'>logout</a>";
        } else {
            loginArea.innerHTML = "<a href='/login'>login</a>";
        }
    </script>
</div>
</body>
</html>